@font-face {
	font-family: "AppleSDGothicR";
	src: url(./assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoR.ttf);

  font-family: "AppleSDGothicM";
  src:url(./assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoM.ttf)
}

:root {
	--font-AppleSDGothicNeoR: "AppleSDGothicR";
  --font-AppleSDGothicNeoM: "AppleSDGothicM";
}

html, body {
  font-family: var(--font-AppleSDGothicNeoM);
  background-image: url(./assets/imgs/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input {
  padding: 0;
}